// +-------------------------------------------------------------------------
// | Copyright (C) 2017 Yunify, Inc.
// +-------------------------------------------------------------------------
// | Licensed under the Apache License, Version 2.0 (the "License");
// | you may not use this work except in compliance with the License.
// | You may obtain a copy of the License in the LICENSE file, or at:
// |
// | http://www.apache.org/licenses/LICENSE-2.0
// |
// | Unless required by applicable law or agreed to in writing, software
// | distributed under the License is distributed on an "AS IS" BASIS,
// | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// | See the License for the specific language governing permissions and
// | limitations under the License.
// +-------------------------------------------------------------------------
{{- $service := .Data.Service -}}
{{- $subServices := .Data.SubServices}}

#include "Bucket.h"
#include "StringUtils.h"
#include "request/QsRequest.h" 
#include "http/HttpResponse.h"
#include "external/json/json.h"
#include <vector>
#include <algorithm>

using namespace QingStor;
using namespace QingStor::Utils;

#ifdef _WIN32
#define GetObject  GetObject
#endif

Bucket::Bucket(const QsConfig &qsConfig, const std::string &strBucketName, const std::string &strZone) : m_qsConfig(qsConfig)
{
    m_properties.BucketName = strBucketName;
    m_properties.Zone = strZone;
}

{{- range $_, $subService := $subServices}}
// +--------------------------------------------------------------------
// |           RequestBuilderSource and ResponseUnparkerSource                          
// +-------------------------------------------------------------------- 
{{range $_, $operation := $subService.Operations -}}
{{template "RequestBuilderSource" passThrough $subService $operation}}
{{template "ResponseUnparkerSource" passThrough $subService $operation}}
{{end}}
{{end}}

{{- range $_, $subService := $subServices}}
// +--------------------------------------------------------------------
// |           SDK API Operation Source                          
// +-------------------------------------------------------------------- 
{{range $_, $operation := $subService.Operations -}}
{{template "OperationSource" passThrough $subService $operation}}
{{end}}
{{end}}


